.previsuali img{
    
    width: 200px;
    margin: 20px;
    margin-left: auto;

}
.contenedorProgress{
    width: 250px;
    height: 20px;
    margin-top: 5px;
}

.progress{
    height: 10%;
    
    background: rgb(211, 17, 17);
}