.nave{
    display: flex;
    padding: 10px;
    
}

.form{
    width: 500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.iconBars{ 
    
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    
}
@media (min-width:900px ) {
    .iconBars{
     display: none;   
    }
    .botonesnav{
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        height: 40px;   
    }
}

@media (max-width:900px) {
    
    .botonesnav{
        display: none;
    }

    .nave{
        display: flex;
        justify-content: space-between;

    }
    .form{
        width: auto;
    }

    /* menu barra lateral */
.menuDesplegar{
    display: flex;
    position:absolute;
    float: right;
    flex-direction: column;
    width: 260px;
    height: 300px;
    top: 50px;
    left: 0;
    border-radius: 15px;
    background: rgb(44, 35, 35);
    padding: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.598) 0px 5px 10px ;
    transition: all 400ms ease;
    z-index: 2;

}

.barstranslate{
    display: flex;
    position:absolute;
    float: right;
    flex-direction: column;
    width: 260px;
    height: 300px;
    top: 50px;
    left: 0;
    border-radius: 15px;
    background: rgb(44, 35, 35);
    padding: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.598) 0px 5px 10px ;
    transform: translateX(-100%);
    transition: all 400ms ease;
    z-index: 2;
}



    
}

ul li{
    list-style: none;
}

.buscador{
    width: 400px;
    height: 500px;
    background: rgb(222, 215, 222);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    right: 80px;
    bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.574);
    overflow-y: scroll;
    
}

@media (max-width:800px) {
    .buscador{
    position: fixed;
    top: 130px;
    right: 30px;
    width: 350px;
    overflow-y: scroll;
    
    }

    
}

.imgPerfil{
    width: 60px;
    border-radius: 100%;
    border: rgb(52, 52, 12) solid 2px;
}